.header-top
  グループを作成しました
.header
  .header-left
    .header-center-left
      Test-user          
    .header-center-right
      %i.fa.fa-edit
      %i.fa.fa-cog
  .header-right
 
.contents
  .content-left
    .box
      .agroup
        こんにちは
      .bgroup
      .cgroup
        こんばんは
    .boxs
      .dgroup
        Hello!
      .egroup
      .fgroup
        aiueokakikukeko
    .boxs
      .dgroup
        こんにちは
      .egroup
      .fgroup
        こんばんは

  .content-right
  .content-bottom