.header-top
  グループを作成しました
.header
  .header-left
    .header-center-left
      Test-user          
    .header-center-right
      %i.fa.fa-edit
      %i.fa.fa-cog
  .header-right
 
.contents
  .content-left
  .content-right
  .content-bottom