.header-top
  グループを作成しました
.header
  .header-left
    .header-center-left
      Test-user          
    .header-center-right
      %i.fa.fa-edit
      %i.fa.fa-cog
  .header-right
    .class-left
      .text-box
        今日は寒いですね
      .text-box2
        今日は暑いですね
    .class-right
      .editbox
        .edit-log
          Edit
 
.contents
  .content-left
    .box
      .agroup
        こんにちは
      .bgroup
      .cgroup
        こんばんは
    .boxs
      .dgroup
        Hello!
      .egroup
      .fgroup
        aiueokakikukeko
    .boxs
      .dgroup
        こんにちは
      .egroup
      .fgroup
        こんばんは

  .content-right
    .flontbox
      .f1box
        TEST-USER
      .f2box
        こんにちは
      .f3box
        text
      .f4box
        さようなら
  .content-bottom
    .bottombox
      .commentbox
        .comment
          Type a message
        .icon
          %i.fa.fa-image
      .sendbox
        Send
