body {
  height: 100vh;
  width: 100vw;

  .header-top {
    height:24px;
    width:100%;
    background-color: #38aef0;
    text-align: center;
    color: white;
    position: fixed;
  }

  .header {
    background-color: blue;
    height:109px;
    width:100%;

    .header-left {
      background-color: #253141;
      float: left;
      height: 100%;
      width: 300px;
      
      .header-center-left {
        height: 16px;
        width: 40%;
        color: white;
        float: left;
        margin-top: 59px;
        margin-left: 20px;
        font-weight: bold;



      }

      .header-center-right {
        height: 16px;
        width: 12%;
        float: right;
        color: white;
        margin-top: 59px;
        margin-right: 20px;

      }
    }
    
    .header-right {
      background-color: white;
      height: 100%;
      width: calc(100vw - 300px);
      float: right;
    
      .class-left {
        height: 100%;
        width: 50%;
        float: left;
      
        .text-box {
          height: 20px;
          width: 80%;
          font-size: 18px;
          margin-top: 59px;
          margin-left: 40px;

        }
      
        .text-box2 {
          height: 12px;
          width: 80%;
          font-size: 11px;
          margin-top: 15px;
          margin-left:40px;
          color: #999999;

        }
      
      }

      .class-right {
        height: 100%;
        width:50%;
        float: right;

        .editbox {
          height: 39px;
          width: 70px;
          float: right;
          margin-right: 40px;
          margin-top: 52px;
          border: 1px solid #38aef0;

          .edit-log {
            color: #38aef0;
            margin: 8px 20px 10px 20px;

          }


        }
      }
    }
  }

  .contents {
    height: calc(100vh - 85px);
    width: 100%;
    position: relative;

    .content-left {
      background-color: #2f3e51;
      color: white;
      height: 100%;
      width: 300px;
      float: left;
      line-height:20px;
    } 
      .box {
        height: 31px;
        width: 260px;
        margin:20px 20px 40px 20px;
        
        .agroup {
          height: 15px;
          width: 100%;
          font-size: 15px;
          top: 0;
          font-weight: bold;
        }

        .bgroup {
          height:5px;
          width:100%;
        }

        .cgroup {
          height:11px;
          width:100%;
          font-size: 11px;
          font-weight: bold;
        }
      }
      .boxs {
        height: 31px;
        width: 260px;
        margin:0 20px 40px 20px;

        .dgroup {
          height: 15px;
          width: 100%;
          font-size: 15px;
          top: 0;
          }
  
          .egroup {
            height:5px;
            width:100%;
          }
  
          .fgroup {
            height:11px;
            width:100%;
            font-size: 11px;
          }
      }
      .boxs {
        height: 31px;
        width: 260px;
        margin:0 20px 40px 20px;

        .dgroup {
          height: 15px;
          width: 100%;
          font-size: 15px;
          top: 0;
          }
  
          .egroup {
            height:5px;
            width:100%;
          }
  
          .fgroup {
            height:11px;
            width:100%;
            font-size: 11px;

        
        }
      }
    
    
    .content-right {
      background-color: #fafafa;
      height: 100%;
      width: calc(100vw - 300px);
      float: right;

      .flontbox {
        height: 80%;
        width: 80%;
        margin-top: 46px;
        margin-left: 40px;
      

        .f1box {
          height: 12px;
          font-size: 12px;
          font-weight: bold;
        }

        .f2box {
          height: 12px;
          font-size: 12px;
          margin-top:10px;
        }

        .f3box {
          height:16px;
          font-size:16px;
          margin-top:40px;
          color: #434A54;
        }

        .f4box {
          height: 14px;
          font-size:14px;
          margin-top:10px;
          color: #434A54;
        }
      }


    }
  
    .content-bottom {
      height: 90px;
      width: calc(100vw - 300px);
      position: fixed;
      right: 0;
      bottom: 0;

      .bottombox {
        background-color: silver;
        height: 80px;
        width: 100%;
        margin-top: 10px;

          .commentbox {
            height: 50px;
            width: 940px;
            background-color: white;
            float: left;
            margin-left: 40px;
            margin-top: 15px;

            .comment {
              height: 16px;
              width: 50%;
              float: left;
              margin-left: 10px;
              margin-top: 16px;
              color: #434A54;
              font-size: 16px;
              line-height: 16px;
            }

            .icon {
              height: 16px;
              width: 15px;
              float: right;
              margin-right: 10px;
              margin-top: 16px;

            }

          
          
          }
      }

          .sendbox {
            height: 50px;
            width: 9%;
            background: #38aef0;
            float: right;
            margin-top:15px;
            margin-right:40px;
            color: white;
            line-height: 50px;
            text-align: center;


          }

      }
    }
  }
